@*@model IEnumerable<Store3.Models.Sach>
@{
    ViewBag.Title = "ProductByTacGia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>Danh sách sản phẩm </h4>
    <ul class="thumbnails">
        @foreach (var item in Model)
        {
            <li class="span3">
                <div class="thumbnail">
                    <a href="@Url.Action("DetailProduct","Home", new {ID = item.ID})"><img src="@item.Image" alt="" /></a>
                    <div class="caption">
                        <h5>@item.Name</h5>
                        <p>
                            @cropString(item.Description)
                        </p>

                        <h4 style="text-align:center"><a class="btn" href="@Url.Action("DetailProduct","Home", new {ID = item.ID})"> <i class="icon-zoom-in"></i></a> <a class="btn" href="@Url.Action("AddCart","Home", new {ID = item.MaSach})">Thêm giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@item.GiaBan</a></h4>
                    </div>
                </div>
            </li>
        }
    </ul>

</div>*@

